<app-header></app-header>
<main>
  <section class="main-section">
    <div class="headerline">
      <span>THIAGO CONSULTORIA</span>
      <h1>A consultoria que voce busca para o seu software</h1>
    </div>
    <img ngSrc="/assets/twoWomen.png" priority width="500" height="500" alt="Duas mulheres">
  </section>
  <section class="benefit-section pad-70">
    <div class="benefit-data">
        <h2>
            95% das<br/>
            empresas
        </h2>
    </div>
    <p>não sabem como lidar com problemas de <b>escalibilidade</b> e grande volume de requisições.</p>
  </section>
  <section class="cta-section">
    <app-btn-primary btn-text="fale com nossos especialistas"></app-btn-primary>
  </section>
  <app-news-form></app-news-form>
</main>
